{% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}
{% do doc.styles.addCssFile('css/components/atoms/pill.css') %}

<div class="ap-o-filter-bubbles-list">
  <button class="ap-a-pill filtered"
     [class]="category == '' ? 'ap-a-pill filtered' : 'ap-a-pill'"
     on="tap:AMP.setState({ category: '' })">
    {{ _('All') }}
  </button>
  {% for category, components in categories %}
  {% set scope = namespace(categoryFormats = []) %}
    {% for component in components %}
      {% set formats = component.formats or ['websites'] %}
      {% set scope.categoryFormats = scope.categoryFormats + formats %}
    {% endfor %}
  {% if category %}
  {% set category = category.split('.')[1] if category and category.split('.')|length == 2 else category %}

  <button class="ap-a-pill"
     [class]="category == '{{ category|slug }}' ? 'ap-a-pill filtered' : 'ap-a-pill'"
     [hidden]="!({% for fmt in scope.categoryFormats|unique %}format == '{{ fmt|trim }}'{% if not loop.last %} || {% endif %}{% endfor %})"
     on="tap:AMP.setState({ category: '{{ category|slug }}' })">
    {{ _(category) }}
  </button>
  {% endif %}
  {% endfor %}
</div>
