{% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}
{% do doc.styles.addCssFile('css/components/atoms/pill.css') %}

<div class="ap-o-filter-bubbles-list">
  <a class="ap-a-pill"
     [class]="'ap-a-pill ' + (!{{ filter_categories|replace('"', \"'\") }}.includes(category) ? 'filtered' : '')"
     href="{{ doc.url.path }}#filter"
     name="all">
    {{ _('All') }}
  </a>
  {% for category, components in categories %}
  {% set scope = namespace(categoryFormats = []) %}
    {% for component in components %}
      {% set formats = component.formats or ['websites'] %}
      {% set scope.categoryFormats = scope.categoryFormats + formats %}
    {% endfor %}
  {% if category %}
  {% set category = category.split('.')[1] if category and category.split('.')|length == 2 else category %}

  <a class="ap-a-pill"
     [class]="'ap-a-pill ' + ({{ filter_categories|replace('"', \"'\") }}.includes(category) && category == '{{ category|slug }}' ? 'filtered' : '')"
     [hidden]="!({{ scope.categoryFormats|unique|list|tojson|replace('"', \"'\") }}).includes(format)"
     href="{{ doc.url.path }}?category={{category|slug}}#filter"
     name="{{ _(category) }}">
    {{ _(category) }}
  </a>
  {% endif %}
  {% endfor %}
</div>
